<USER>
<Query>
The user has the following query:
{{ query }}
</Query>

<FILES>
They have provided the following files:
{{ files }}
</FILES>

<IMAGES>
They have provided the following images:
{{ images }}
</IMAGES>

<CONVERSATION>
Here is a brief conversation history:
{{ conversation_history }}
</CONVERSATION>

<CONVERSATION_SUMMARY>
and a summary of the conversation so far:
{{ conversation_summary }}
</CONVERSATION_SUMMARY>

<USER_LOCATION>
The user is located in {{ user_location }}.
</USER_LOCATION>

<User Persona>
Based on the conversation so far, we have gathered the following context about the user:
{{ user_persona }}
</User Persona>

Please use this information to assist the user with their query.
</USER>